<section class="new-training" fxLayout fxLayoutAlign="center center">
  <mat-card fxFlex="468px">
    <mat-card-title fxLayoutAlign="center">
      <h3>Time to Start an Exercise!</h3>
    </mat-card-title>
    <mat-card-content fxLayoutAlign="center">
      <mat-select placeholder="Start new exercies">
        <mat-option></mat-option>
        <mat-option value="Lunges">Lunges</mat-option>
        <mat-option value="Pushups">Pushups</mat-option>
        <mat-option value="Squats">Squats</mat-option>
        <mat-option value="Deadlifts">Deadlifts</mat-option>
        <mat-option value="Burpees">Burpees</mat-option>
        <mat-option value="Planks">Planks</mat-option>
        <mat-option value="Skipping">Skipping</mat-option>
        <mat-option value="Jumping">Jumping</mat-option>
        <mat-option value="Dumbbells">Dumbbells</mat-option>
        <mat-option value="Stairs">Stairs</mat-option>
      </mat-select>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center">
      <button
        mat-button
        type="submit"
        color="primary"
        (click)="startTraining()"
      >
        Start Training
      </button>
    </mat-card-actions>
  </mat-card>
</section>
