<section>
  <form
    #registerForm="ngForm"
    (ngSubmit)="onSubmit(registerForm)"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <!-- Email -->
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input
        #emailInput="ngModel"
        ngModel
        matInput
        name="email"
        type="email"
        placeholder="Your email"
        required
        minlength="4"
        maxlength="64"
      />
      <mat-hint>
        <span>Must be a valid email address.</span>
      </mat-hint>
      <mat-error *ngIf="emailInput.errors">
        <span *ngIf="emailInput.errors?.required">Email is required.</span>
        <span *ngIf="emailInput.errors?.minlength">
          Email must be at least 4 characters long.
        </span>
        <span *ngIf="emailInput.errors?.maxlength">
          Email cannot be more than 64 characters long.
        </span>
      </mat-error>
    </mat-form-field>

    <!-- Password -->
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input
        #passwordInput="ngModel"
        ngModel
        matInput
        name="password"
        type="password"
        placeholder="Your password"
        required
        minlength="8"
        maxlength="64"
      />
      <mat-hint>
        <span>Must be at least 8 characters long.</span>
      </mat-hint>
      <mat-error *ngIf="passwordInput.errors">
        <span *ngIf="passwordInput.errors?.required">
          Password is required.
        </span>
        <span *ngIf="passwordInput.errors?.minlength">
          Password must be at least 8 characters long.
        </span>
        <span *ngIf="passwordInput.errors?.maxlength">
          Password cannot be more than 64 characters long.
        </span>
      </mat-error>
    </mat-form-field>

    <!-- Datepicker -->
    <mat-form-field appearance="fill">
      <input
        [matDatepicker]="datepicker"
        matInput
        placeholder="Your birthdate"
        name="birthdate"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="datepicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #datepicker></mat-datepicker>
      <mat-hint>
        <span>You must be at least 18 years old to use this app.</span>
      </mat-hint>
    </mat-form-field>

    <!-- Button -->
    <button mat-raised-button color="accent" type="submit">Register</button>
  </form>
</section>
