<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <p>SIDEBAR</p>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div>
        <button (click)="sidenav.toggle()">Toggle Sidenav</button>
      </div>
      <div>FitnessTracker</div>
      <div>
        <a routerLink="/logout">Logout</a>
        <a routerLink="/login">Login</a>
        <a routerLink="/register">Register</a>
      </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
