<div
  class="welcome"
  fxLayout="column"
  fxLayout.gt-sm="row"
  fxLayoutGap.gt-sm="16px"
  fxFlexAlign="center center"
>
  <section>
    <h1>ACTIVITY</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </section>
  <section>
    <h1>COMMUNITY</h1>
    <p>
      Reiciendis tempore ea excepturi, debitis, quod voluptatibus, molestias
      fugit blanditiis in iure mollitia earum quidem aspernatur!
    </p>
  </section>
  <section>
    <h1>CHALLENGES</h1>
    <p>
      Error adipisci sequi alias corporis veritatis mollitia libero ratione
      possimus reprehenderit ipsam.
    </p>
  </section>
</div>
